body
{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body:before
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    content: '';
    transform: translate(-50%,-50%);
    border: 30px solid #ddd;
    border-radius: 50%;
    background-color: #d20014;
    box-shadow: 0 0 10px rgb(210, 0, 20);
}
body:after
{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 320px;
    content: '';
    transform: translate(-50%,-50%);
    border: 10px solid #d20014;
    border-radius: 50%;
}
.sticker
{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%,-50%);
    color: #ddd;
    border-radius: 50%;
}
.sticker:before
{
    font-size: 16px ;
    font-weight: bold;
    position: relative;
    top: -11px;
    display: inline-block;
    margin-right: -2px;
    padding-top: 0;
    padding-right: .2rem;
    padding-bottom: 0;
    padding-left: .2rem;
    content: 'C';
    text-align: center;
    border: .2rem solid #ddd;
    border-radius: 50%;
}
.sticker:after
{
    font-size: 16px ;
    font-weight: bold;
    position: relative;
    top: -11px;
    display: inline-block;
    margin-left: -2px;
    padding-top: 0;
    padding-right: .2rem;
    padding-bottom: 0;
    padding-left: .2rem;
    content: 'C';
    text-align: center;
    border: .2rem solid #ddd;
    border-radius: 50%;
}
